<!-- <ul> -->
<!-- <li ng-repeat="card in gameBoard.drawDeck.cards"><img src="{{card.imageUrl}}"></li> -->
<!-- </ul> -->

<div id="solitaire" class="container">
    <div class="row" id="solitaire-score-area">
        <div class="col-lg-12">
            <div class="col-lg-2">
                <span class="{{gameBoard.getDrawPile().getTopCard().getCSS()}}">&nbsp;</span>
                <span class="{{gameBoard.getDiscardPile().getTopCard().getCSS()}}">&nbsp;</span>
            </div>
            <div class="col-lg-10">
                <span ng-repeat="resPile in gameBoard.getResolutionPiles()" class="{{resPile.getTopCard().getCSS()}}">&nbsp;</span>
            </div>
        </div>
    </div>

    <div class="row solitaire-board-spacer">&nbsp;</div>

    <div class="row" id="solitaire-play-area">
        <div class="col-lg-12 col-lg-push-2">
            <ul class="col-lg-1 col-lg-pull-1" ui-on-Drop="onDrop($event,$data,playArea)" ng-repeat="playArea in gameBoard.getPlayAreaPiles()">
                <li
                    drag="card"
                    ui-draggable="{{card.isFaceUp()}}"
                    on-drop-success="dropSuccessHandler($event,$index,playArea)"
                    ng-repeat="card in playArea.getCards() track by $index"
                    class="card col-lg-2 col-push-1 {{card.getCSS()}}">&nbsp;</li>
            </ul>
        </div>
    </div>
</div>