<h3>Steve, Anthony - Why did you decide to build Solitaire?</h3>

<p>
    We are attempting to build a fluid rest platform jam packed full of features for data
    analysis with some fun easy APIs for handling complex data structures from a web service.
</p>

<p>For both Steve and I, this is all new. We are attempting to create a unique product truly from scratch.</p>

<p>We are attempting to create a platform that is completely Java SE compliant on the server, and the front end experience delivered in pure HTML5 compliant javascript.</p>

<p>The idea is that it is possible to create a complex system with MVP and MVD written from the ground up using strict TDD and Agile design principles.</p>

<p style="font-weight: bold">The features we hope to include in the overall platform are:</p>

<ul style="color: #009999;">
    <li>No XML configuration beyond a few simple POM's and a very trivial web.xml file</li>
    <li>No complex wiring of common services</li>
    <li>Fully testable complete with all current test driven methodologies</li>
    <li>Complete separation between the ui and the API for ClinkWorks product</li>
    <li>Out of the box polygot database support</li>
    <li>Generated UI</li>
    <li>Annotation based event API</li>
    <li>Annotation based business rule engine</li>
    <li>Annotation based API security administration</li>
</ul>

<p>We are going to attempt to accomplish this feat utilizing as close to pure jsr standard API's to create very simple platform with a rich set of standards compliant features to allow easy creation of complex user centric data management systems.
systems.</p>

<p>We hope that you enjoy our first project and please feel free to message us at any time.</p>

<p>
    Anthony: AnthonyJClink@gmail.com<br />
    Steve: designatnight1@gmail.com<br />
</p>

<p style="font-weight: bold;">For those of you interested, here is an overview of the overall architecture for the platform:</p>

    <h4>Server</h4>
    <ul style="color: #009999;">
        <li>RESTful services are provided through the JAX-RS API through the reference implementation Jersey</li>
        <li>Object to relational data mapping provided through the Java Persistence API via the reference implementation Apache OpenJPA</li>
        <li>Object serialization/deserialization provided through the JAXB API via the Jackson Object Serialization API</li>
        <li>Configuration and dependency management provided through JSR-299 via Google Guice</li>
        <li>Collections management provided by Google Guava</li>
        <li>Build Management - Maven</li>
        <li>Continuous Build Server - Jenkins</li>
        <li>Project management and task tracking Kanbanize (free and awesome btw - lacking features but has enough for a 2 man team)</li>
        <li>Project hosting by Amazon EC2 Cloud</li>
        <li>Development Server - Jetty</li>
        <li>Development Database - H2</li>
        <li>Production Server - Tomcat</li>
        <li>Production Database - PostgreSQL</li>
        <li>TDD software - JUnit</li>
        <li>Mock framework - JMockIt</li>
    </ul>
    <h4>Client</h4>
    <ul style="color: #009999;">
        <li>Production Server - Apache Server</li>
        <li>Test Server - Karma</li>
        <li>MVC provided by Angular</li>
        <li>Object serialization/deserialization provided through Angular.$resource</li>
        <li>Data binding provided by Angular</li>
        <li>REST API management provided by Angular.$resource</li>
        <li>Collections management provided by LoDash via a ClinkWorks Service</li>
        <li>SERVER/UI Data Management done via a ClinkWorks domain model</li>
        <li>Build Management - Grunt</li>
        <li>TDD software - Jasmine</li>
        <li>Dependency Management - NPM</li>
        <li>Mock Framework - Angular.$mock</li>
    </ul>
