<h1>Welcome to ClinkWorks Solitaire!</h1>
<h2>Feel free to leave feedback on our <a href="https://github.com/Clinkworks/SolitaireUi"></a>!</h2>
<br />
<span style="color: #009999">Written by: The co-founders of the ClinkWorks Organization</span>
<br />
<p style="text-indent: 10px; color: #009999;">- Anthony Jerrid Clink and Steven Jay Smith</p>
<br />
<h6 style="color: #B80000">Please note that the ui is no where near complete... this boxed in single column layout is only for testing purposes</h6>