<div>
    <accordion close-others="true">
        <accordion-group heading="Home Actions" is-open="true">
            <accordion-heading>
                Goals <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
            </accordion-heading>
            <ul>
                <li><a ui-sref="home">Project Goals</a></li>
                <li><a ui-sref="home.todos">Still Todo</a></li>
            </ul>
        </accordion-group>
    </accordion>
</div>