<h4>What is currently in ready queue</h4>
<ul>
    <li><span>Build REST resource for transferring basic solitaire game state</span>
        <ul>
            <li>Add an API responsbility to create solitaire game state (done)</li>
            <li>Add an API responsbility to transfer game state to and from a database (done)</li>
            <li>Add an API responsbility to replace game state in a way that allows the consumer to "save"</li>
            <li>Add an API responsbility to retrieve persisted game state</li>
            <li>Add an API responsbility to allow a user to retrieve a list of game states that belong to them</li>
        </ul>
    </li>
    <li>
        <span>Develop UI - (in process)</span>
        <ul>
            <li><span>Interact with the UI</span>
                <ul>
                    <li>Double Click To Resolution Pile (done)</li>
                    <li>Auto flip top card if top card is face down (not started)</li>
                    <li>Draw Card (done)</li>
                    <li>Drag Drop (not started)</li>
                </ul>
            </li>
            <li><span>Handle basic solitaire rules</span>
                <ul>
                    <li>Can only move to play area pile if color of target card is opposite of target piles last card (not started)</li>
                    <li>Can only move to play area pile if value of target card one less that of target piles last card (not started)</li>
                    <li>Can only move to a resolution pile if target card's target resolution pile contains a card whos value is one less than the target card(not started)</li>
                    <li>Library will reset when the blank card is clicked (not started)</li>
                    <li>Game is finished when there are no more cards in the Library or PlayArea and all cards are correctly placed in the ResolutionPiles according to suit(not started)</li>
                </ul>
            </li>
            <li><span>Implement win screen</span></li>
        </ul>
    </li>
</ul>