<h4>What is currently in ready queue</h4>
<ul>
    <li><span>Build REST resource for transferring basic solitaire game state</span>
        <ul>
            <li>Add an API responsbility to create solitaire game state (done)</li>
            <li>Add an API responsbility to transfer game state to and from a database (done)</li>
            <li>Add an API responsbility to replace game state in a way that allows the consumer to "save"</li>
            <li>Add an API responsbility to retrieve persisted game state</li>
            <li>Add an API responsbility to allow a user to retrieve a list of game states that belong to them</li>
        </ul>
    </li>
    <li>
        <span>Develop UI - (in process)</span>
        <ul>
            <li><span>Interact with the UI</span>
                <ul>
                    <li>Double Click To Resolution Pile (done)</li>
                    <li>Auto flip top card if top card is face down (not started)</li>
                    <li>Draw Card (done)</li>
                    <li>Drag Drop (not started)</li>
                </ul>
            </li>
            <li><span>Handle basic solitaire rules</span>
                <ul>
                    <li>Can only move to play area pile if color of target card is opposite of target piles last card (not started)</li>
                    <li>Can only move to play area pile if value of target card one less that of target piles last card (not started)</li>
                    <li>Can only move to a resolution pile if target card's target resolution pile contains a card whos value is one less than the target card(not started)</li>
                    <li>Library will reset when the blank card is clicked (not started)</li>
                    <li>Game is finished when there are no more cards in the Library or PlayArea and all cards are correctly placed in the ResolutionPiles according to suit(not started)</li>
                </ul>
            </li>
            <li><span>Implement win screen</span></li>
        </ul>

        <p>For those of you interested, here is an overview of the overall architecture for the platform:</p>

        <h4>Server</h4>
        <ul>
            <li>RESTful services are provided through the JAX-RS API through the reference implementation Jersey</li>
            <li>Object to relational data mapping provided through the Java Persistence API via the reference implementation Apache OpenJPA</li>
            <li>Object serialization/deserialization provided through the JAXB API via the Jackson Object Serialization API</li>
            <li>Configuration and dependency management provided through JSR-299 via Google Guice</li>
            <li>Collections management provided by Google Guava</li>
            <li>Build Management - Maven</li>
            <li>Continuous Build Server - Jenkins</li>
            <li>Project management and task tracking Kanbanize (free and awesome btw - lacking features but has enough for a 2 man team)</li>
            <li>Project hosting by Amazon EC2 Cloud</li>
            <li>Development Server - Jetty</li>
            <li>Development Database - H2</li>
            <li>Production Server - Tomcat</li>
            <li>Production Database - PostgreSQL</li>
            <li>TDD software - JUnit</li>
            <li>Mock framework - JMockIt</li>
        </ul>
        <h4>Client</h4>
        <ul>
            <li>Production Server - Apache Server</li>
            <li>Test Server - Karma</li>
            <li>MVC provided by Angular</li>
            <li>Object serialization/deserialization provided through Angular.$resource</li>
            <li>Data binding provided by Angular</li>
            <li>REST API management provided by Angular.$resource</li>
            <li>Collections management provided by LoDash via a ClinkWorks Service</li>
            <li>SERVER/UI Data Management done via a ClinkWorks domain model</li>
            <li>Build Management - Grunt</li>
            <li>TDD software - Jasmine</li>
            <li>Dependency Management - NPM</li>
            <li>Mock Framework - Angular.$mock</li>
        </ul>
    </li>
</ul>