<h4>Things in process</h4>
<h6 style="color: red">Please note that the ui is no where near complete... this boxed in single column layout is only for testing purposes</h6>
<ul>
    <li>Build REST resource (done)</li>
    <li>Develop UI - (in process)</li>
    <li>Interact with the UI</li>
    </li>
    <li>
        <ul>
            <li>Double Click To Resolution Pile (done)</li>
            <li>Auto flip top card if top card is face down (not started)</li>
            <li>Draw Card (done)</li>
            <li>Drag Drop (not started)</li>
        </ul>
    <li>Implement rules</li>
    <li>
        <ul>
            <li>Can only move to play area pile if color of target card is opposite of target piles last card (not started)</li>
            <li>Can only move to play area pile if value of target card one less that of target piles last card (not started)</li>
            <li>Can only move to a resolution pile if target card's target resolution pile contains a card whos value is one less than the target card(not started)</li>
            <li>Library will reset when the blank card is clicked (not started)</li>
            <li>Game is finished when there are no more cards in the Library or PlayArea and all cards are correctly placed in the ResolutionPiles according to suit(not started)</li>
        </ul>
    </li>
    <li>Implement win screen</li>
    <li>Implement server storage</li>
    <li>
        <ul>
            <li>Implement basic crud operations for a game (done)</li>
            <li>Provide crud operations via a Rest Resource (done)</li>
        </ul>
    </li>
</ul>